<ion-view view-title="Workshop Details">
  <!-- do you want padding -->
  <ion-content class="workshop-details">
    <div class="workshop-details__intro">
      <div class="workshop-details__overlay">
        <div class="text-wrapper">
            <h1>
                <b>{{ workshop.detail.title }}</b><br>
            </h1>
            <p>
                <span ng-repeat="tag in workshop.detail.genre">{{ tag }}</span>
            </p>
        </div>
      </div>
    </div>
    <div class="workshop-details__content-wrapper">
        <div class="card">
            <h3 class="workshop-details__heading">{{ workshop.detail.title }}</h3>
            <div class="row flex-vertical--center no-padding workshop__time">
                <i class="icon ion-ios-clock-outline"></i>
                <span class="workshop__time-slot">{{ workshop.detail.timeParse }}</span>
            </div>
            <div class="workshop-details__author-wrapper">
                <img class="base__image--circle float-left headshot" ng-src="{{ workshop.detail.authorImage[0].fields.file.url }}" alt="">
                <h4 class="author">{{ workshop.detail.author }}</h4>
            </div>
            <p class="clear">{{ workshop.detail.description }}</p>
        </div>
        <div class="card">
            <h4 class="content__author-name">{{ workshop.detail.author }}</h4>
            <p><b>About:</b></p>
            <p class="content__author-desc">{{ workshop.detail.authorDesc }}</p>
        </div>
    </div>
  </ion-content>
</ion-view>
