<ion-view view-title="Sponsors">
  <ion-content class="sponsors">
    <div class="sponsors__intro">
      <div class="sponsors__overlay">
        <div class="text-wrapper">
          <h1>
              <b>Sponsors & Partners</b>
          </h1>
          <p>Without them, this wouldn't be possible</p>
        </div>
      </div>
    </div>
    <div class="sponsors__content-wrapper">
      <div class="card">
        <p>This conference would not have been possible without the generous support of the following university departments and student organization.</p>
      </div>
      <div class="card">
        <h5>Departments</h5>
        <img src="main/assets/images/aasp_logo.jpg" alt="AASP Logo">
        <img src="main/assets/images/campus_life_logo.jpg" alt="Campuse Life Logo">
        <img src="main/assets/images/cic_logo.jpg" alt="Campus Life Logo">
        <img src="main/assets/images/office_inclusion_logo.jpg" alt="Office of Inclusion Logo">
      </div>
      <div class="card">
        <h5>Student Organizations</h5>
        <ul class="sponsors__org-list">
          <li><a href="https://www.facebook.com/nwukpl/" target="_blank">Kappa Phi Lambda</a></li>
          <li><a href="https://www.facebook.com/VSANorthwestern/?fref=ts" target="_blank">Vietnamese Student Association</a></li>
          <li><a href="https://www.facebook.com/northwesternkasa/" target="_blank">Korean American Student Association</a></li>
          <li><a href="https://northwestern.collegiatelink.net/organization/kaibigan" target="_blank">Kaibigan</a></li>
          <li><a href="https://www.facebook.com/TASCNorthwestern/?fref=ts" target="_blank">Taiwanese American Students Club</a></li>
          <li><a href="https://northwestern.collegiatelink.net/organization/SingSoc/about" target="_blank">Singapore Society</a></li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
