// variables.scss

$text-grey: #594f65;
$inactive-grey: #d2d1da;
$space-grey: #828186; // used in menu
$purple-grey: #7c7884;
$bg-purple: #f4f4fB;

$teal: #95e3f5;

$hover-purple: #f7f4ff;
$nu-purple: rgb(078, 042, 132);
