// Menu Component

// Adjust sizing of font-size
.menu {
    .item {
        border: none;
        color: $space-grey;
        letter-spacing: 1px;
    }

    .item-icon-left {
        &.item-complex .item-content {
            padding: 18px 18px 18px 65px;
        }

        .icon-map {
            font-size: 22px;
        }

        .menu__close-btn {
            font-size: 50px;
            color: $inactive-grey;
        }
    }

    &__title {
        padding: 10px 0 20px 0;
    }

    .bar {
        background: #fff;
    }

    &__subtitle-divider {
        font-style: italic;
        font-size: 15px;
    }

    &__subtitle {
        font-weight: bold;
        font-size: 20px;
        color: $nu-purple;
    }

    &__divider-wrapper {
        @extend .center-block;
        width: 80%;
    }

    .menu__divider {
        height: 1px;
        border-radius: 4px;
        margin: 10px 0;
        background-color: $inactive-grey;
    }

    .social-links {
        float: right;
        padding: 10px 16px;
        font-size: 25px;


        a {
            text-decoration: none;
            margin-right: 15px
        }
    }
}
