<!-- Main view of Agenda template -->
<ion-view view-title="Agenda">
  <ion-content class="agenda padding">

    <h1><span class="agenda__number">11</span> Friday</h1>

    <p>7:00 - 10:00 PM - Registration & Campus Event</p>

    <h1><span class="agenda__number">12</span> Saturday</h1>

    <p>8:30 - 9:30 AM Late Registration</p>

    <p>9:30 - 10:30 AM Opening Ceremony</p>

    <p>10:30 - 10:50 AM Small group session 1</p>

    <p>11:00 - 11:50 AM Workshop session 1</p>

    <p>12:00 - 12:50 PM Workshop session 2</p>

    <p>1:00 - 2:15 PM Lunch</p>

    <p>2:15 - 2:30 PM Small group session 2</p>

    <p>2:40 - 3:30 PM Workshop session 3</p>

    <p>6:30 PM Banquet doors open</p>

    <p>7:00 - 9:30 PM Dinner/Keynote/Closing remarks</p>

  </ion-content>
</ion-view>
