<ion-view view-title="Home">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <div class="list card home__tiles width--10" ui-sref="main.agenda">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Agenda</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.map">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Map</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.workshop">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Workshop</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.speakers">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.sponsors">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Sponsors</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.attendees">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>Attendees</h2>
        </div>
      </div>

      <div class="list card home__tiles" ui-sref="main.about">
        <div class="item item-image">
          <img src="cover.jpg">
        </div>
        <div class="item">
          <h2>About</h2>
        </div>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
