<ion-view view-title="Home" class="home">
  <ion-content>
    <div class="home__intro">
        <div class="text-wrapper">
            <h1>
                <b>MAASU</b><br>
                Leadership<br>
                Summit 2016
            </h1>
            <p>November 12</p>
        </div>
    </div>
  <div class="home__card-wrapper">
   <div class="card">
        <h4 class="card__heading">MAASU</h4>
        <p>The Midwest Asian American Students Union is an effort to unite Asian American groups across the Midwest, to voice the opinions of these groups in regards to pertinent issues, and to promote the varying cultures that comprise the Asian American community.</p>
    </div>
    <div class="card">
        <h4 class="card__heading">{{home.upcomingEvent.fields.name}}</h4>
        <h5>{{home.upcomingEvent.fields.startTime}} - {{home.upcomingEvent.fields.endTime}}</h5>
        <i class="icon ion-android-stopwatch"></i> {{home.remainingTime}} minutes
    </div>
  </div>
  </ion-content>
</ion-view>
