<ion-view view-title="Workshops">
  <ion-content class="workshop">
    <div class="workshop__intro">
      <div class="workshop__overlay">
        <div class="text-wrapper">
            <h1>
                <b>Dialogues</b><br>
            </h1>
        </div>
      </div>
    </div>
    <div class="card" ng-cloak >
      <div class="dialogues__chat-field">
        <i class="ion-ios-chatbubble-outline"></i>
        <textarea class="dialogues__textarea" type="text" placeholder="Write your thoughts..." ng-model="dialogues.comment"></textarea>
        <div class="dialogues__profile">
          <img class="dialogues__user-photo" ng-src="{{dialogues.user.photoURL}}">
          <h4 class="user-name">{{dialogues.user.displayName}}</h4>
        </div>
        <button class="button button-positive dialogues__button-send" ng-click="dialogues.submitComment()">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
