<ion-view view-title="Entertainment">
  <ion-content class="entertainment">
    <div class="entertainment__intro">
      <div class="entertainment__overlay">
        <div class="text-wrapper">
          <h1>
              <b>Entertainment</b>
          </h1>
          <p>To keep the vibes high</p>
        </div>
      </div>
    </div>
    <div class="entertainment__content-wrapper">
      <div class="card">
        <div class="entertainment__profile">
          <img src="main/assets/images/manny_headshot.jpg" alt="Manny Garcia Headshot">
          <div class="entertainment__profile-bio">
            <h2 class="card__heading">Manny Garcia</h2>
            <div class="entertainment__social-list">
              <a href="https://www.instagram.com/mannygarciamusic" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="https://www.youtube.com/user/ebgarcia3" target="_blank"><i class="icon ion-social-youtube-outline"></i></a>
              <a href="https://www.facebook.com/MannyGarciaMusic/" target="_blank"><i class="icon ion-social-facebook"></i></a>
              <a href="https://twitter.com/mannygarcia" target="_blank"><i class="icon ion-social-twitter-outline"></i></a>
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="entertainment__bio">
          <h4>Biography</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac porta ante, vitae volutpat enim. Vestibulum eu nunc at felis placerat lobortis. Nullam ullamcorper lorem at nibh imperdiet, a tincidunt velit volutpat. Nam eu ipsum accumsan, tristique est non, semper ex. Nam et vehicula velit. Cras sed tristique enim. Nullam imperdiet metus erat, et eleifend purus viverra mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus semper purus eu blandit tristique. Cras sit amet viverra augue. Pellentesque sit amet lectus in libero mattis volutpat. Vestibulum a lectus et nunc eleifend tincidunt at ut massa. Pellentesque elementum in sem fermentum congue. Praesent aliquam dignissim leo ut finibus. Sed eget tincidunt enim, vitae convallis est. Pellentesque scelerisque laoreet libero, eu viverra mauris consequat a.</p>
          <p>Suspendisse potenti. Etiam scelerisque tellus aliquet lobortis ornare. Etiam auctor condimentum consequat. Nam et lacus eget massa ultricies tincidunt eu et metus. Aliquam faucibus tortor lectus. Fusce placerat mauris quis ante sollicitudin, ut laoreet magna pellentesque. Fusce tempus nunc vel elit finibus porttitor. Vestibulum a pretium ipsum. Aliquam placerat velit elit, et rutrum ipsum volutpat quis. Etiam vel cursus sem. Fusce sit amet est vel nisi tempus venenatis. Fusce maximus cursus dolor in mollis. Phasellus sapien turpis, cursus iaculis pharetra vitae, ornare ut sem.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
