<ion-view view-title="Entertainment">
  <ion-content class="entertainment">
    <div class="entertainment__intro">
      <div class="entertainment__overlay">
        <div class="text-wrapper">
          <h1>
              <b>Entertainment</b>
          </h1>
          <p>To keep the vibes high</p>
        </div>
      </div>
    </div>
    <div class="entertainment__content-wrapper">
      <div class="card">
        <div class="entertainment__profile">
          <img src="main/assets/images/manny_headshot.jpg" alt="Manny Garcia Headshot">
          <div class="entertainment__profile-bio">
            <h2 class="card__heading">Manny Garcia</h2>
            <div class="entertainment__social-list">
              <a href="https://www.instagram.com/mannygarciamusic" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="https://www.youtube.com/user/ebgarcia3" target="_blank"><i class="icon ion-social-youtube-outline"></i></a>
              <a href="https://www.facebook.com/MannyGarciaMusic/" target="_blank"><i class="icon ion-social-facebook"></i></a>
              <a href="https://twitter.com/mannygarcia" target="_blank"><i class="icon ion-social-twitter-outline"></i></a>
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="entertainment__bio">
          <h4>Biography</h4>
          <p>Manny is a singer-songwriter born and raised in Chicago. He has been featured in such publications as The Chicago Sun Times, The Wrap, and TV Guide for his YouTube videos. When he's not making music, you can catch Manny teaching yoga, exploring the wilderness, and planning his next big adventure</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
